<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Matrix Example</title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- MAIN CONTENT -->

    <header class="">
      <div style="margin: 20px;" class="d-flex flex-column">
        <h4 id="message-matrix"> </h4>
        <div id="main-matrix" class="wrapper-grid">
        </div>
      </div>
    </header>

    <!-- JAVASCRIPT CDNS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
  </body>
</html>
