body {
  background: #202020;
  color: white;
}

.navbar-brand {
  font-family: 'Spicy Rice', cursive;
  font-size: 1.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Spicy Rice', cursive;
}

header img {
  width: 60%;
}

.wrapper-grid {
  display: grid;
}
.wrapper-flex {
  display: flex;
}
.item-format-cero {
  background-color: aliceblue;
  color:rgb(37, 37, 37);
  border: 1px solid rgba(47, 233, 0, 0.959);
}
.item-format-one {
  background-color: rgb(4, 37, 66);
  color:rgb(255, 255, 255);
  border: 1px solid rgba(0, 179, 233, 0.959);
}
.wrapper-flex div{
  padding:0.5em 1em;
  margin:5px;
  font-weight: 700;
  width: 50px;
  text-align: center;
  align-items: center;
}
.wrapper-flex div:hover{
  background-color: rgb(66, 66, 66);
  color:rgb(243, 243, 243);
  border: 1px solid rgba(170, 172, 169, 0.959);
  cursor: pointer;
}

.form-data {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  width: 100%;
}
.form-control{
  width: 100px;
}
.columns-header{
  text-align: center;
  align-items: center;
  align-self: center;
  display: flex;
}
.title-header {
  align-self: center;
}
.subtitle-header {
  align-items: center;
  text-align: left;
  display:inline;
}
.item-format-yellow11 {
  background-color: rgb(250, 247, 82);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow2 {
  background-color: rgb(71, 245, 123);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow3 {
  background-color: rgb(60, 247, 206);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow4 {
  background-color: rgb(109, 178, 243);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow5 {
  background-color: rgb(245, 187, 80);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow6 {
  background-color: rgb(241, 104, 104);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow7 {
  background-color: rgb(163, 78, 243);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow8 {
  background-color: rgb(163, 82, 136);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow9 {
  background-color: rgb(238, 109, 148);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow10 {
  background-color: rgb(165, 216, 55);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow12 {
  background-color: rgb(60, 247, 206);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow13 {
  background-color: rgb(109, 178, 243);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow14 {
  background-color: rgb(245, 187, 80);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow15 {
  background-color: rgb(82, 250, 110);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow16 {
  background-color: rgb(245, 97, 71);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}
.item-format-yellow17 {
  background-color: rgb(95, 60, 190);
  color:rgb(90, 88, 88);
  border: 1px solid rgba(190, 71, 24, 0.959);
}