<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-2">
  <div class="form-data">
    <div style="display: contents";>
      <div class="columns-header">
        <span>Generate Matrix</span>
      </div>
      <div class="columns-header">
        <span style="padding: 10px;">X:</span>
        <input id="data-x" class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">
      </div>
      <div class="columns-header">
        <span style="padding: 10px;">Y:</span>
        <input id="data-y" class="form-control form-control-lg" type="text" placeholder="" aria-label=".form-control-lg example">        
      </div>
      <div class="columns-header">
        <button type="button" onclick="createMatrixBase()" class="btn btn-success btn-lg">Create</button>
      </div>
      <div class="columns-header">
        <button type="button" onclick="calculateMatrix()" class="btn btn-primary btn-lg">Calculate</button>        
      </div>
    </div>
  </div>
  </div>
</nav>
